# === iOS ===
build/
DerivedData/
*.xcuserstate
xcuserdata/
*.ipa
*.dSYM.zip
*.dSYM
*.pem
*.mobileprovision

# === Android ===
android/.gradle/
android/build/
android/gradle-dist/
android/gradle-*.zip
android/local.properties
android/.idea/
android/*.iml
android/.kotlin/
android/captures/
android/*.apk
android/*.aab
android/*.keystore
android/*.jks
android/*.bak

# === 通用 ===
.DS_Store
*.log
Thumbs.db
